@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.animateFadeIn {
    animation-name: fadeIn;
}

.animateFadeOut {
    animation-name: fadeOut;
}


.animate__animated {
    animation-duration: 4s;
    animation-fill-mode: both;
}

.animate__animated.linear {
    animation-timing-function: linear;
}

.animate__animated.faster {
    animation-duration: 2s;
}
.animate__animated.veryfast {
    animation-duration: 0.01s;
}



@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotateSetting {
    animation-name: rotate;
}

.animate__animated.infinite {
    animation-iteration-count: infinite;
}

.animate__animated.slide {
    animation-duration: 0.5s;
    animation-delay: 0s;
}

.slideIn {
    animation-name: slideDown;
}

.slideOut {
    animation-name: slideUp;
}

.startOut {
    animation-name: startSlideUp;
}

.startIn {
    animation-name: startSlideDown;
}

@keyframes slideDown {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(0, 950px);
    }
}

@keyframes slideUp {
    from {
        transform: translate(0, 950px);
    }

    to {
        transform: translate(0, 0px);
    }
}

@keyframes startSlideUp {
    from {
        transform: translate(0, 0px);
    }

    to {
        transform: translate(0, -950px);
        visibility: hidden;
    }
}

@keyframes startSlideDown {
    from {
        transform: translate(0, -950px);
    }

    to {
        transform: translate(0, 0px);
    }
}