body {
    background-image: url("./images/backGroungImage.png");
    background-attachment: fixed;
    background-position: top right;
}

.invisible {
    visibility: visible;
}

.mainView {
    position: absolute;
    left: 28px;
    top: 13px;
    width: 1850px;
    height: 900px;
    overflow: hidden;
}

.show {
    visibility: visible;
}

#hintCombine {
    visibility: hidden;
}

#settings {
    visibility: hidden;
}

#hintCombine:hover {
    cursor: pointer;
}

#countBgColor {
    position: absolute;
    left: 790px;
    bottom: 20px;
    width: 230px;
    height: 75px;
    background-color: #9f9f9f;
    opacity: 0.5;
    border-radius: 25px;
}

#catIcon {
    position: absolute;
    left: 805px;
    bottom: 35px;
}

#timerBgColor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 60px;
    background-color: #9f9f9f;
    opacity: 0.5;
    border-radius: 25px 0 25px 0;
}

#hintBgColor {
    position: absolute;
    background-color: #9f9f9f;
    opacity: 0.5;
    width: 65px;
    height: 65px;
    left: 874px;
    bottom: 95px;
    border-radius: 25px 25px 0 0;
}

#timerIcon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.num1 {
    position: absolute;
    left: 860px;
    bottom: 35px;
}

.num2 {
    position: absolute;
    left: 910px;
    bottom: 35px;
}

.num3 {
    position: absolute;
    left: 960px;
    bottom: 35px;
}

.timer1 {
    position: absolute;
    top: 10px;
    left: 45px;
}

.timer2 {
    position: absolute;
    top: 10px;
    left: 85px;
}

.timer3 {
    position: absolute;
    top: 10px;
    left: 125px;
}

#hint {
    position: absolute;
    left: 878px;
    bottom: 95px;
}

#hint:hover {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 876px;
    bottom: 97px;
}

#settingIcon {
    position: absolute;
    right: 20px;
    top: 20px;
}

#settingIcon:hover {
    cursor: pointer;
    width: 80px;
    height: 80px;
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate(0, 20px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.animateFadeInUp {
    animation-name: fadeInUp;
}

.animate__animated {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}

.animate__animated.slide {
    animation-duration: 0.5s;
}


@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotateSetting {
    animation-name: rotate;
}

.animate__animated.infinite {
    animation-iteration-count: infinite;
}


.slideIn {
    animation-name: slideDown;
}

@keyframes slideDown {
    from {
        transform: translate(0, -900px);
    }

    to {
        transform: translate(-0, 0);
    }
}