body {
    background-image: url("./images/backGroungImage.png");
    background-attachment: fixed;
    background-position: top right;
}

.mainView {
    position: absolute;
    left: 28px;
    top: 13px;
    width: 1850px;
    height: 900px;
    overflow: hidden;
}


#hintCombine {
    visibility: hidden;
}

#hintCombine:hover {
    cursor: pointer;
}

#countBgColor {
    position: absolute;
    left: 790px;
    bottom: 20px;
    width: 230px;
    height: 75px;
    background-color: #9f9f9f;
    opacity: 0.5;
    border-radius: 25px;
}

#catIcon {
    position: absolute;
    left: 805px;
    bottom: 35px;
}

#timerBgColor {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 180px;
    height: 60px;
    background-color: #9f9f9f;
    opacity: 0.5;
    border-radius: 25px 0 25px 0;
}

#hintBgColor {
    position: absolute;
    background-color: #9f9f9f;
    opacity: 0.5;
    width: 65px;
    height: 65px;
    left: 874px;
    bottom: 95px;
    border-radius: 25px 25px 0 0;
}

#timerIcon {
    position: absolute;
    left: 10px;
    top: 10px;
}

.num1 {
    position: absolute;
    left: 860px;
    bottom: 35px;
}

.num2 {
    position: absolute;
    left: 910px;
    bottom: 35px;
}

.num3 {
    position: absolute;
    left: 960px;
    bottom: 35px;
}

.timer1 {
    position: absolute;
    top: 10px;
    left: 45px;
}

.timer2 {
    position: absolute;
    top: 10px;
    left: 85px;
}

.timer3 {
    position: absolute;
    top: 10px;
    left: 125px;
}

#hint {
    position: absolute;
    left: 878px;
    bottom: 95px;
}

#hint:hover {
    position: absolute;
    width: 65px;
    height: 65px;
    left: 876px;
    bottom: 97px;
}

#settingIcon {
    position: absolute;
    right: 20px;
    top: 20px;
}

#settingIcon:hover {
    cursor: pointer;
    width: 80px;
    height: 80px;
}

#settingBackground {
    width: 1850px;
    height: 900px;
    background-color: black;
    border-radius: 25px;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}

#settings {
    position: absolute;
    left: 28px;
    top: -937px;
    width: 1850px;
    height: 900px;
    overflow: hidden;
}

#startBackground {
    width: 1850px;
    height: 900px;
    background-color: black;
    border-radius: 25px;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}

#startView {
    border: 10px solid black;
    width: 500px;
    height: 700px;
    background-color: #F5F5F5;
    border-radius: 50px;
    opacity: 1;
    position: absolute;
    left: 700px;
    top: 100px;
}

#start {
    /* visibility: hidden; */
    position: absolute;
    left: 28px;
    top: 13px;
    width: 1850px;
    height: 900px;
    overflow: hidden;
}

#complete {
    visibility: hidden;
    position: absolute;
    left: 28px;
    top: 13px;
    width: 1850px;
    height: 900px;
    overflow: hidden;
}

#completeView {
    width: 1000px;
    height: 500px;
    background-color: #F5F5F5;
    border-radius: 25px;
    opacity: 1;
    position: absolute;
    left: 425px;
    top: 200px;
    overflow: hidden;
}

#completeBackground {
    width: 1850px;
    height: 900px;
    background-color: black;
    border-radius: 25px;
    opacity: 0.5;
    position: absolute;
    left: 0;
    top: 0;
}


#logo {
    position: absolute;
    width: 300px;
    left: 120px;
    top: 220px;
}


#startBtn:hover {
    position: absolute;
    width: 200px;
    left: 160px;
    top: 518px;
    cursor: pointer;
}

#startBtn {
    position: absolute;
    width: 150px;
    left: 185px;
    top: 530px;
}

#title {
    position: absolute;
    width: 450px;
    left: 40px;
    top: 0px;
}


#settingView {
    border: 10px solid black;
    width: 500px;
    height: 700px;
    background-color: #F5F5F5;
    border-radius: 50px;
    opacity: 1;
    position: absolute;
    left: 700px;
    top: 100px;
}

#closeBtn {
    position: absolute;
    width: 90px;
    right: 190px;
    bottom: 100px;
    cursor: pointer;
}

#closeBtn:hover {
    position: absolute;
    width: 110px;
    right: 180px;
    bottom: 100px;
    cursor: pointer;
}

#retryBtn:hover {
    position: absolute;
    width: 70px;
    right: 22px;
    bottom: 20px;
    cursor: pointer;
}

#retryBtn {
    position: absolute;
    width: 60px;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

#SEIcon {
    position: absolute;
    width: 110px;
    left: 35px;
    top: 200px;
}

#BGMIcon {
    position: absolute;
    width: 140px;
    left: 40px;
    top: 340px;
}


#sound1Icon {
    position: absolute;
    width: 45px;
    right: 45px;
    top: 255px;
    cursor: pointer;
}

#sound2Icon {
    position: absolute;
    width: 45px;
    right: 45px;
    top: 430px;
    cursor: pointer;
}


#volumeBar1 {
    position: absolute;
    width: 300px;
    left: 110px;
    top: 250px;
    cursor: pointer;
}

#volumeBar2 {
    position: absolute;
    width: 300px;
    left: 110px;
    top: 425px;
    cursor: pointer;
}

#settingTitle {
    position: absolute;
    width: 450px;
    right: 20px;
    top: 30px;
}

#cheatBtn {
    position: absolute;
    width: 60px;
    right: 20px;
    top: 20px;
    border-radius: 25px;
    cursor: pointer;
}

#bugBtn {
    position: absolute;
    width: 60px;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#bugBtn:hover {
    position: absolute;
    width: 70px;
    left: 10px;
    top: 10px;
    cursor: pointer;
}


#HackMDIcon {
    position: absolute;
    width: 80px;
    left: 35px;
    bottom: 10px;
}

#gitIcon {
    position: absolute;
    width: 80px;
    left: 35px;
    bottom: 50px;
}

#completeTitle {
    position: absolute;
    width: 700px;
    left: 150px;
    top: 25px;
}

#completeOk {
    position: absolute;
    width: 100px;
    left: 475px;
    bottom: 10px;
    cursor: pointer;
}

#completeOk:hover {
    position: absolute;
    width: 120px;
    left: 470px;
    bottom: 10px;
    cursor: pointer;
}


#completeTime {
    position: absolute;
    width: 150px;
    left: 150px;
    top: 250px;
    z-index: 2;
}

#completeSeconds {
    position: absolute;
    width: 150px;
    right: 60px;
    top: 250px;
    z-index: 2;

}

#catPaw1 {
    position: absolute;
    width: 200px;
    left: 130px;
    bottom: 0px;
    z-index: 0;
}

#catPaw2 {
    position: absolute;
    width: 300px;
    right: -100px;
    bottom: -15px;
    z-index: 0;
    opacity: 0.8;
}

#time1 {
    position: absolute;
    width: 150px;
    left: 300px;
    bottom: 150px;
}

#time2 {
    position: absolute;
    width: 150px;
    left: 450px;
    bottom: 150px;
}

#time3 {
    position: absolute;
    width: 150px;
    left: 600px;
    bottom: 150px;
}